body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    margin-left:150px;
    margin-right:60px;
    text-align:center;
}

table{
    margin-left:150px;
    margin-right:60px;
    text-align:center;
    width: 80%;
    border-top: black 2px;
    border-bottom: black 2px;
}


.navbar{
    position:fixed;
    top:0px;
    left:-140px;
    width:140px;
    height:100%;
    background: rgb(22, 91, 156);
    border-right:2px solid rgb(7, 70, 129);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    opacity: 0;
}


.navbar--open{
    left:0;
    opacity: 1;
}


#header{
    color:white;
    text-transform: uppercase;
    text-align:center;
    font-style:italic;
    font-size:60px;
    background-color: rgb(22, 91, 156);
    height:180px;
    border-left:60px;
    border-right:60px;
    margin-top:60px;
}

#footer{
    position:fixed;
    color:white;
    bottom:0px;
    left: 150px;
    width:auto;
    right: 60px;
    background-color: rgb(22, 91, 156);
    height:40px;
    text-align:center;
    font-size:20px;
    margin-top:20px;
}

#link{
    color:white;
    text-decoration: none;
}

#link1{
    color:white;
    text-decoration: none;
}

#link2 {
    color: black;
    text-decoration: none;
}

.formline{
    align-items:center;
    margin-left: 20px;
}

.nblink{
    display:flex;
    align-items:center;  
    color:white;
    text-decoration: none;
    background-color: rgb(38, 118, 194);
    padding: 6px;
    border-radius: 4px;
    font-size:12px;
    border-right: 2px solid rgb(7, 70, 129);
    border-bottom: 2px solid rgb(7, 70, 129);
    width:138px;
    height:20px;
}

.nblink:hover{
    display:flex;
    align-items:center;  
    color:white;
    text-decoration: none;
    background-color: rgb(38, 118, 194);
    padding: 6px;
    border-radius: 4px;
    font-size:12px;
    border-right: 2px solid rgb(7, 70, 129);
    border-bottom: 2px solid rgb(7, 70, 129);
    width:138px;
    height:20px;
}

.nblink2{
    align-items:center;  
    color:white;
    text-decoration: none;
    background-color: rgb(38, 118, 194);
    padding: 6px;
    border-radius: 4px;
    font-size:12px;
    border-right: 2px solid rgb(7, 70, 129);
    border-bottom: 2px solid rgb(7, 70, 129);
    width:160px;
    height:30px;
}
.nblink2:hover{
    align-items:center;  
    color:white;
    text-decoration: none;
    background-color: rgb(38, 118, 194);
    padding: 6px;
    border-radius: 4px;
    font-size:12px;
    border-right: 2px solid rgb(7, 70, 129);
    border-bottom: 2px solid rgb(7, 70, 129);
    width:160px;
    height:30px;
}

.nblink3{
    align-items:center;  
    color:white;
    text-decoration: none;
    background-color: rgb(38, 118, 194);
    padding: 6px;
    border-radius: 4px;
    font-size:12px;
    border-right: 2px solid rgb(7, 70, 129);
    border-bottom: 2px solid rgb(7, 70, 129);
    width:160px;
    height:30px;
    left:200px;
}

.nblink3:hover{
    align-items:center;  
    color:white;
    text-decoration: none;
    background-color: rgb(38, 118, 194);
    padding: 6px;
    border-radius: 4px;
    font-size:12px;
    border-right: 2px solid rgb(7, 70, 129);
    border-bottom: 2px solid rgb(7, 70, 129);
    width:160px;
    height:30px;
    left:200px;
}

#buttonver{
    position:absolute;
    left: 180px;
    top: 10px;
    align-items:center;  
    color:white;
    text-decoration: none;
    background-color: rgb(9, 133, 9);
    padding: 6px;
    border-radius: 4px;
    font-size:12px;
    border: 2px solid rgb(3, 80, 3);
}

#buttonedita{
    position:absolute;
    left: 180px;
    top: 10px;
    align-items:center;  
    color:white;
    text-decoration: none;
    background-color: rgb(207, 115, 8);
    padding: 6px;
    border-radius: 4px;
    font-size:12px;
    border: 2px solid rgb(131, 71, 2);
}

#buttonborra{
    position:absolute;
    left: 180px;
    top: 10px;
    align-items:center;  
    color:white;
    text-decoration: none;
    background-color: rgb(199, 8, 8);
    padding: 6px;
    border-radius: 4px;
    font-size:12px;
    border: 2px solid rgb(112, 2, 2);
}

#buttonnav{
    position:absolute;
    left: 180px;
    top: 10px;
    align-items:center;  
    color:white;
    text-decoration: none;
    background-color: rgb(38, 118, 194);
    padding: 6px;
    border-radius: 4px;
    font-size:12px;
    border: 2px solid rgb(7, 70, 129);
}

#buttonnav:hover{
    position:absolute;
    left: 180px;
    top: 10px;
    align-items:center;  
    color:white;
    text-decoration: none;
    background-color: rgb(38, 118, 194);
    padding: 6px;
    border-radius: 4px;
    font-size:12px;
    border: 2px solid rgb(7, 70, 129);
}

